<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-constraint>
        <display-name>RestClient</display-name>
        <web-resource-collection>
            <web-resource-name>rest</web-resource-name>
            <description>Administration area</description>
            <url-pattern>/webapi/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>RestUser</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>tutoringRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/loginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>RestUser</role-name>
    </security-role>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
